/* You can add global styles to this file, and also import other style files */

body {
    background-size: cover;
    background-color: black;
    background-image: url('https://www.walldevil.com/wallpapers/a60/black-wallpaper-design-background-pixel-pattern-texture-textures-wallpapers-floral-large.jpg');
}