<!-- NO CSS FRAMEWORK FOR THIS CONCEPT PROJECT -->
<!-- @AUTHOR tk@trevorknott.io -->

<div id="container" [@arrayAnim]="items.length">

  <button (click)="insertItem()"> Add Saying</button>
  <button (click)="removeItem()">Remove Saying</button>

  <div id="list" *ngFor="let item of items">
    {{ item }}
  </div>

  <div @quoteAnim>
    <div class="col">
      <p>Animations will seprate angular from the other frameworks!</p>
    </div>

    <div class="col">
      <p>I mean if everyone in shop knew angular well..</p>
    </div>

    <div class="col">
      <p>The most pragmatic style code as well as you would have the cleanist UI/UX ever!</p> 
    </div>
  </div>

</div>