<h2>{{ galleryTitle }}</h2>

<div class="row images-row">
    <button class="btn btn-lg btn-info" [class.active]="filterBy==='all'" (click)="filterBy='all'">All</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy==='frameworks'" (click)="filterBy='frameworks'">Frameworks</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy==='languages'" (click)="filterBy='languages'" >Languages</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy==='algorithms'" (click)="filterBy='algorithms'">Algorithms</button>


    <ul id="thumbnails">
        <li *ngFor='let img of (visibleImages | photoFilter:filterBy)'>
            <img src="{{ img.url }}" alt="" class="mock-img animated fadeIn" width="220" height="180">
        </li>
    </ul>
</div>
